@charset "UTF-8";
html *{
    padding: 0;
    margin: 0;
}

.ht {
    height: 32px;
    width: auto;
    background: linear-gradient(rgb(65, 62, 62), rgb(27, 27, 27));
    color: white;
    font-size: 14px;
}

.h-logo{
    font-family: Ilisarniq;
    font-size: 16px;
    font-weight: 900;
    position: relative;
    top: 10px;
    left: 20px;
}

.h-app {
    float: right;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    top: 10px;
}

.h-mode {
    float: right;
    position: relative;
    top: 10px;
    padding-right: 40px;
 }

.h-user {
   float: right;
   position: relative;
    top: 10px;
}

.mycontent:before {
    content:"\025bc";
    padding-left: 5px;
}


.nav {
    text-align:center;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.box {
    text-align: center;
}

.nav a {
    text-decoration: none;
    color:black;
    font-size: 14px;
    display: block;
    padding:0px 50px;
    position: relative;
    bottom: 5px;
}

.footer {
    text-align: center;
    font-family: Ilisarniq;
    padding-bottom: 10px;
}

.container::-webkit-scrollbar {
    display:none;
}