@charset "UTF-8";

.log-img {
	background-image: url(../images/orange.png);
	background-size: cover;
}

#tabcontrol a {
	 display: inline-block;            /* インラインブロック化 */
	 border-width: 1px 1px 0px 1px;    /* 下以外の枠線を引く */
	 border-style: solid;              /* 枠線の種類：実線 */
	 border-color: black;              /* 枠線の色：黒色 */
	 border-radius: 4px 4px 0 0; /* 枠線の左上角と右上角だけを丸く */
	 padding: 10px 30px;              /* 内側の余白 */
	 text-decoration: none;            /* リンクの下線を消す */
	 color: black;                     /* 文字色：黒色 */
	 background-color: white;          /* 背景色：白色 */
	 font-weight: bold;                /* 太字 */
	 position: relative;               /* JavaScriptでz-indexを調整するために必要 */
	}
	/* ▼タブにマウスポインタが載った際 */
#tabcontrol a:hover {
	text-decoration: underline;   /* リンクの下線を引く */
	}
	/* ▼タブの中身 */
#tabbody div {
	 border: 1px solid black; /* 枠線：黒色の実線を1pxの太さで引く */
	 margin-top: -1px;        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
	 padding: 40px 70px;            /* 内側の余白量 */
	 background-color: white; /* 背景色：白色 */
	 position: relative;      /* z-indexを調整するために必要 */
	 z-index: 0;              /* 重なり順序を「最も背面」にするため */
	}
	#tabcontrol a:nth-child(1), #tabbody div:nth-child(1) { background-color: #b4c4cc; }/* 1つ目のタブとその中身用の配色 */
	#tabcontrol a:nth-child(2), #tabbody div:nth-child(2) { background-color: white; }/* 2つ目のタブとその中身用の配色 */
	#tabcontrol a:nth-child(3), #tabbody div:nth-child(3) { background-color: #ddddff; }/* 3つ目のタブとその中身用の配色 */

#tabpage1 {
    height: 490px;
}

#tabpage2 {
    height: 490px;
}

.sort {
	padding:5px 10px;
	margin-bottom:10px;
}

.log-wrapper {
    margin:0px 150px 30px 150px;
	padding-top: 30px;
}

.flex {
	display: flex;
	justify-content: space-between;
	margin:10px 0px;
}

.right {
	text-align: right;
}

.f-tag {
	padding: 7px 10px;
}

.updel {
	padding:5px 20px;
	margin:10px 0 0 6px;
	border-style: none;
	background-color: #FC071C;
	border-radius: 4px;
	color: white;
}

.clear-button {
	border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
    cursor: pointer; /* マウスカーソルを乗せると指になる */
    outline: none;
	font-size: 18px;
    color: #1e65ff;
    transition: background-color .3s;
}
.clear-button:hover {
    text-decoration: underline;
}
.text-overflow {
   	max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}