@charset "UTF-8";
.login-img {
    background-image: url(../image/orange.png);
    background-size: cover;
}

.chiken {
    position: absolute;
    width: 110px;
    top:20px;
    left:20px;
}

.login-wrapper {
    display:flex;
    height: 500px;
    margin-bottom:220px;
}

.left {
    width:50%;
    position: relative;
    top:280px;
    text-align: center;
    color:white;
}

.left-word {
    text-align: left;
    padding-left:200px;
}

.title {
    font-size:90px;
    font-weight: 900;
    margin:0px;
    font-family: Ilisarniq;
}

.t-intro {
    display: inline-block;
    font-family: Ilisarniq;
}

.right {
    width:50%;
    position: relative;
    top:155px;
    text-align: center;
}

.log-right {
    background-color: white;
    border-radius: 5px;
    margin:0 180px;
    padding:40px 0 70px 0;
}

.login-form {
    text-align: left;
    display: inline-block;
}

.right input {
    height: 40px;
    width:260px;
    border-style: none;
    border-bottom: 1px solid black;
    border-radius: 3px;
    outline: none;
}

.logmsg {
    color:#FB5600;
    font-weight: 900;
    font-size:18px;
}

.btn_login {
  border-style: none;
  background-color: #FB5600;
  color:white;
  font-weight: 900;
  border-radius: 3px;
  padding:15px 110px;
  margin-top: 50px;
}

.hello-word {
    color:white;
    font-size: 20px;
    font-weight: 500;
    writing-mode: vertical-rl;
    position: absolute;
    top:0px;
    right:115px;
}