.container::-webkit-scrollbar {
    display:none;
}

.login-img {
    background-image: url(../images/orange.png);
    background-size: cover;
}

.chiken {
    position: absolute;
    width: 100px;
    top:30px;
    left:30px;
    animation:8s linear infinite rotation1;
}

@keyframes rotation1{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
  }

.login-wrapper {
    display:flex;
    height: 480px;
    margin-bottom:220px;
}

.left {
    width:50%;
    position: relative;
    top:310px;
    text-align: center;
    color:white;
}

.left-word {
    text-align: left;
    padding-left:200px;
}

.title {
    font-size:90px;
    font-weight: 900;
    margin:0px;
    font-family: Ilisarniq;
}

.t-intro {
    display: inline-block;
    font-family: Ilisarniq;
}

.right {
    width:50%;
    position: relative;
    top:160px;
    text-align: center;
}

.log-right {
    background-color: white;
    border-radius: 5px;
    margin:0 180px;
    padding:40px 0 70px 0;
}

.login-form {
    text-align: left;
    display: inline-block;
}

.right input {
    height: 40px;
    width:250px;
    border-style: none;
    border-bottom: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding-left:25px;
}

.logmsg {
    color:#FB5600;
    font-weight: 900;
    font-size:18px;
    margin-bottom: 60px;
    padding-top: 20px;
}

.btn_login {
  border-style: none;
  background-color: #FB5600;
  color:white;
  font-weight: 900;
  border-radius: 3px;
  padding:15px 110px;
  margin-top: 50px;
}

.hello-word {
    color:white;
    font-size: 20px;
    font-weight: 500;
    writing-mode: vertical-rl;
    position: absolute;
    top:0px;
    right:115px;
    font-family: Ilisarniq;
}

.pw {
    padding-top:10px;
}

.human {
    width: 20px;
    position: absolute;
    padding-top: 8px;

}

.key {
    width: 20px;
    position: absolute;
    padding-top: 8px;

}
