@charset "UTF-8";
.quelist-img {
    background-image: url(../images/orange.png);
}

.question-wrapper {
    display: flex;
    justify-content: center;
    margin:0px 40px 20px 40px;
    padding-top: 50px;
}

.question {
    border:1px solid black;
    padding:20px 20px;
    border-radius: 4px;
    margin: 0 10px;
}

.hidden_window {
    border:1px solid black;
    padding:20px 20px;
    margin:10px 10px 30px 10px;
}

.open_bottom p {
    text-align: center;
}

.Answer {
    border:1px solid black;
    padding:20px 20px;
    margin:30px 10px 0 10px;
    border-radius: 4px;
}

.left {
    margin-right:100px;
    background-color: white;
    padding: 30px 150px;
    border-radius: 4px;
    overflow: scroll;
    height: 550px;
}

/*質問の中身左右に振り分けとその要素*/
.flexbox {
    display: flex;
    justify-content: space-between;
}

.que-right button{
    padding: 3px 10px;
    margin-left: 10px;
}

textarea {
    width: 500px;
    height: 200px;
}

.queup button {
    padding: 3px 20px;
    position: relative;
    left: 335px;
    margin-left: 10px;
    margin-top: 10px;
}

.ans-button input {
    padding:3px 80px;
    margin-top: 30px;
    margin-left: 180px;
}

.other-ans input{
    padding: 3px 40px;
    margin-left: 170px;
    margin-top: 30px;
}

.other_Answer {
    border:1px solid black;
    padding:20px 20px;
    margin:30px 10px 0 10px;
    border-radius: 4px;
}

.right {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
}