.search-img {
    background-image: url(../images/orange.png);
    background-size: cover;
}


.search-wrapper {
    display: flex;
    margin:0px 50px 0 50px;
    padding-top: 15px;
    height: 635px;
    justify-content: center;
}

.left {
    width:63%;
    margin-right: 60px;
}

.right {
    height:300px;
    width:30%;
    background-color: white;
    border: 2px solid rgba(121, 117, 117, 0.5);
    margin-top: 5px;
}

.right input {
    margin:5px 0;
    padding: 5px 10px;
}

.search-item {
    text-align: right;
}

.search input {
    padding: 9px 9px;
    font-size: 15px;
    margin-bottom: 5px;
    border-style: none;
}

.search-word {
    width:700px;
    height:40px;
    border-style: none;
    border: 2px solid rgba(121, 117, 117, 0.5);
    outline: 0;
}

.sort {
    background: white;
    border: 2px solid rgba(121, 117, 117, 0.5);
}

.search-button {
    width:100px;
    font-size:20px;
    margin-left: 26px;
}

.search input {
    border: 2px solid rgba(121, 117, 117, 0.5);
    outline: 0;
}

.left select {
    height:40px;
    margin-top:5px;
}

.search-flex {
    display: flex;
}

table {
    margin-left: 10px;
}

.quetable {
    background-color: white;
    border: 2px solid rgba(121, 117, 117, 0.5);
    height: 520px;
    margin-top: 12px;

}

.catelist {
   background: linear-gradient( #cdd5e0,#9ca4cf);
    font-weight: bold;
    color:red;
    padding: 12px 284px 0px 20px;
}

.folder {
    position: relative;
    top:10px;
    right:4px;
    display: inline-block;
}

.right input {
    border-style: none;
    background-color:white;
    color: blue;
    font-weight: bold;
}

.catecau {
    border: 2px solid rgb(151, 145, 145);
    display:inline-block;
    font-size: 12px;
    padding: 5px 28px 5px 5px;
    margin-top: 7px;
    margin-left: 5px;
    margin-bottom: 7px;
}

u.spelling {
    text-decoration: red wavy underline;
  }

.catecau1 {
    border: 2px solid rgb(151, 145, 145);
    display:inline-block;
    font-size: 12px;
    width: 886px;
    margin-top: 7px;
    margin-left: 5px;
    margin-bottom: 7px;
}
.catelist1 {
    background: linear-gradient( #cdd5e0,#9ca4cf);
     font-weight: bold;
     color:red;
     padding: 12px 754px 0px 20px;
}

.folder1 {
     position: relative;
     top:8px;
     right:4px;
     display: inline-block;
}

.search1 {
    position: relative;
    left: 60px;
    top: 8px;
}

.clear-button {
	border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
    cursor: pointer; /* マウスカーソルを乗せると指になる */
    outline: none;
	font-size: 18px;
    color: #1e65ff;
    transition: background-color .3s;
}
.clear-button:hover {
    text-decoration: underline;
}