.search-img {
    background-image: url(../images/orange.png);
    background-size: cover;
}

.search-wrapper {
    display: flex;
    margin:0px 50px 0 50px;
    padding-top: 40px;
    height: 640px;
    justify-content: center;
}

.left {
    width:63%;
    margin-right: 60px;
}

.right {
    height:390px;
    width:30%;
    background-color: white;
    border-radius: 4px;
    padding:20px 20px;
}

.right input {
    margin:5px 0;
    padding: 5px 10px;
}

.search-item {
    text-align: right;
}

.search input {
    padding: 12px 12px;
    font-size: 15px;
    margin-bottom: 5px;
    border-style: none;
    border-radius: 4px;
}

.search-word {
    width:700px;
    height:48px;
    border-style: none;
    border-radius: 4px;
}

.sort {
    background: white;
    border-radius: 4px;
    border:1px solid black;
}

.search-button {
    width:100px;
    font-size:20px;
    margin-left: 26px;
}

.left select {
    height:40px;
    margin-top:10px;
}

.search-flex {
    display: flex;
}

table {
    margin-left: 10px;
}

.quetable {
    background-color: white;
    height: 460px;
    border-radius: 4px;
    padding: 20px;
}